#!/bin/sh
# config script for midolman-agent-common

set -e

. /usr/share/debconf/confmodule

db_input high midolman-agent-common/server-port || true
db_input high midolman-agent-common/server-host || true
db_input high midolman-agent-common/midolman-conf || true
db_input low midolman-agent-common/openvswitch-bridge_prefix || true
db_input low midolman-agent-common/interface-mtu || true

db_go
